.homeWrapper {
	background-color: #444140;
	min-height: 100vh;
	width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 40px 24px 40px;
	margin-bottom: 40px;

	h1 {
		width: 100%;
		text-align: center;
		padding-bottom: 24px;
	}
}
.carousel {
	height: 280px;
}
