.container {
	background-color: #3e3e3e;
	height: 100%;
}
.categories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);

	padding: 14px;

	grid-auto-flow: column;
	grid-column-gap: 34px;
	grid-row-gap: 8px;
}
.element {
	cursor: pointer;
	padding: 4px;
	border-radius: 4px;

	&:hover {
		background-color: #e56464;
	}
}

.elementActive {
	background-color: #e54b4b !important;
}

.popup {
	position: absolute;
	z-index: 4;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), visibility 0s 0.2s;
	overflow: hidden;
}

.popupHidden {
	height: 0px;
}
.popupVisible {
	height: 276px;
	visibility: visible;
}

.popupOverflowAuto {
	overflow: visible;
}
