.header {
	width: 100%;
}
.title {
	all: unset;
	height: 36px;
	cursor: pointer;
	background-color: #1e1e24;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		font-size: 20px;
	}
	&:hover {
		color: #f7ebe8a8;
	}
	&:active {
		color: #f7ebe839;
	}
}
.navigation {
	height: 46px;
	background-color: #e54b4b;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 46px;
	}
	li {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		transition: all 0.1s ease;
		color: #ffffff;
		&:hover {
			cursor: pointer;

			color: #444140;
		}
		p {
			font-size: 16px;
		}
	}
}
.liSelected {
	color: #1e1e24 !important;
}

.navList {
	height: 100%;
}
.navItem {
	height: 100%;
}
